name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: yarn
    - run: yarn run all

  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: yarn --frozen-lockfile
    - name: Add elm-review, elm and elm-format to path
      run: echo ::add-path::$(yarn bin)
    - uses: ./
      with:
        name: elm-review (should-pass)
        # elm_review: elm-review
        elm_json: __tests__/elm/elm.json
        elm_files: __tests__/elm/src/Good.elm
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: ./
      with:
        name: elm-review (should-fail)
        # elm_review: elm-review
        elm_json: __tests__/elm/elm.json
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
